.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px 0;

    img {
        margin-left: 10px;
    }
}

.dark {
    img {
        filter: invert(1);
    }
}