.main {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: white;
    color: black;
    height: 100vh;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 200px;
        height: 100%;
        overflow: scroll;
        padding: 80px 5px 5px;
    }
}

.dark {
    background-color: black;
    color: white;
}

@media only screen and (min-width: 480px) {
    .content {
        padding: 40px 25px 0;
    }
}

@media only screen and (min-width: 1160px) {
    .content {
        padding: 40px 0 0;
    }
}