.project {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr 1fr;
    justify-items: center;
    gap: 20px;
    text-align: center;

    h1 {
        font-size: 1.8em;
        border-bottom: 3px solid black;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .description {
        font-size: 1.2em;
    }

    .stack {
        font-size: 1em;
    }
}

.dark {
    h1 {
        border-bottom: 3px solid white;
    }
}

@media only screen and (min-width: 420px) {
    .project {
        h1 {
            font-size: 2.8em;
        }

        .description {
            font-size: 1.4em;
        }

        .stack {
            font-size: 1.2em;
        }
    }
}

@media only screen and (min-width: 580px) {
    .project {
        h1 {
            font-size: 2.8em;
        }

        .description {
            font-size: 1.6em;
        }

        .stack {
            font-size: 1.4em;
        }
    }
}

@media only screen and (min-width: 860px) {
    .project {
        h1 {
            font-size: 3.5em;
        }
    }
}