.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px 0;
    
        .text {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 10px;
    
            h1 {
                font-size: 3em;
            }
    
            h2 {
                font-size: 1.5em;
            }
        }
    }

    .about {
        font-size: 24px;
        line-height: 32px;
        max-width: 1080px;
    }
}

.dark {
    img {
        filter: invert(1);
    }
}

@media only screen and (min-width: 420px) {
    .landing {
        .intro {
            .text {
                h1 {
                    font-size: 4em;
                }
            }
        }
    }
}

@media only screen and (min-width: 580px) {
    .landing {
        .intro {
            .text {
                h1 {
                    font-size: 5em;
                }
            }
        }
    }
}

@media only screen and (min-width: 860px) {
    .landing {
        .intro {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            max-width: 1080px;
    
            .text {
                text-align: left;
    
                h1 {
                    font-size: 4em;
                }
    
                h2 {
                    font-size: 2.5em;
                }
            }
        }
    }
}
