.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

    ul {
        display: flex;
        gap: 30px;

        li {
            list-style-type: none;

            a {
                cursor: pointer;
            }
        }
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
    }
}